<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <nav class="navbar">
    <a class="navbar-brand" href="/">TO DO LIST</a>
      <div class="navbar-nav">
        <a class="nav-item" id="reg" href="/register">Register</a>
        <a class="nav-item" id="sign" href="/login">Sign In</a>
      </div>
  </nav>
</header>
