<article class="showtask">
  <div class="card">
    <div class="category">
      <h2><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-coffee" href="#icon-coffee" /></svg></h2>
      <div class="dropdown">
        <button class="dropbtn">Watch List</button>
        <div class="dropdown-content">
          <a href="#">Watch List</a>
          <a href="#">Eat List</a>
          <a href="#">Read List</a>
          <a href="#">Buy List</a>
        </div>
      </div>
    </div>
    <div class="taskcontent">
      <div class="checkboxTitle">
        <div class="checkbox" checked="checked">
          <input type="checkbox"/>
          <span class="checkmark"></span>
        </div>
          <h3 class="tasktitle">Task title 1</h3>
      </div>
      <p class="taskdes">task description 1</p>
      <div class="date">
        <p>End:2022-02-18</p>
        </div>

        <div class="button-group">
          <button >Edit</button>
          <button>Delete</button>
        </div>
  </div>
</article>

