
  <nav class="menu">
    <header class="avatar">
      <a href="/profile">
      <img src="https://www.w3schools.com/howto/img_avatar.png" /></a>
      <h2>Hi! user</h2>

    </header>
    <ul class="cate">
      <li><span><a href="/tasks"> All Tasks </a></span></li>
      <li><span><a href="/tasks/watch"> Watch </a></span></li>
      <li><span><a href="/tasks/eat"> Eat </a></span></li>
      <li><span><a href="/tasks/read"> Read </a></span></li>
      <li><span><a href="/tasks/buy"> Buy </a></span></li>
    </ul>

    <ul class ="task_status">
       <li><span><a href="/tasks/completed"> Completed</a> </span></li>
       <li><span><a href="/tasks/archived">Archived</a></span></li>

  </ul>

  </nav>

