
  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <a href="/profile">
      <img src="https://www.w3schools.com/howto/img_avatar.png" /></a>
      <h2>Hi! user</h2>

    </header>
    <ul class="cate">
      <li tabindex="0" class="icon-watch"><span><a href="/tasks/watch"><i class="fa-solid fa-clapperboard-play"></i> Watch </a></span></li>
      <li tabindex="0" class="icon-eat"><span><a href="/tasks/eat"><i class="fa-solid fa-plate-utensils"></i> Eat </a></span></li>
      <li tabindex="0" class="icon-read"><span><a href="/tasks/read"><i class="fa-solid fa-book-open-reader"></i> Read </a></span></li>
      <li tabindex="0" class="icon-buy"><span><a href="/tasks/buy"><i class="fa-solid fa-cart-shopping"></i> Buy </a></span></li>
    </ul>
    <ul class ="task_status">

       <li tabindex="0" class="icon-completed"><span><a href="/tasks/completed"> Completed</a> </span></li>
       <li tabindex="0" class="icon-archived"><span><a href="/tasks/archived">Archived</a></span></li>

  </ul>

  </nav>

