<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('./partials/_header') %>

  <span>
  <div>
    <h2 class="motto">A NEW WAY TO ORGANIZE TASKS</h2>
    <img class="gr" src="./images/homePageBig.png">
  </div>
  <div class="ind">
    <img class="pic1" src="./images/categorize.png">

    <img class="pic1" src="./images/checkOff.png">

    <img class="pic1" src="./images/schedule.png">

  </div>
  <span class="ben">
  <div class="cat">Automatically categorizes your tasks</div>
  <div class="chk">Check off completed tasks</div>
  <div class="time">Set timeframes for completion</div>
</span>
  <div><a class="sgn" id="reg" href="/register">SIGN UP NOW</a></div>
</span>

</body>

</html>
