<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('./partials/_header') %>

  <span>
  <div>
    <h2 class="motto">A NEW WAY TO ORGANIZE TASKS</h2>
    <img src="./images/homePageBig.png" width="700" height="500">
  </div>
  <div class="ind">
  <span>
    <img src="./images/categorize.png" width="100" height="100">
    Automatically categorizes tasks
  </span>
  <span>
    <img src="./images/checkOff.png" width="100" height="100">
    Check off completed tasks
  </span>
  <span>
    <img src="./images/schedule.png" width="100" height="100">
    Set timeframes for tasks
  </span>
  </div>
  <div><a class="nav-item" id="reg" href="/register">SIGN UP NOW</a></div>
</span>
</body>

</html>
