.new-task-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 1em;
  padding-left: 5em;
  max-width: 800px;
  min-width: 600px;

      .newcard {
        background: var(--color-background);
        padding: calc(4 * var(--size-bezel));
        margin-top: calc(4 * var(--size-bezel));
        border-radius: var(--size-radius);
        border: 3px solid var(--color-option);
        box-shadow: .5rem .5rem 0 var(--color-option);

        &--accent {
          --color-background: var(--color-signal);
          --color-accent: var(--color-light);
          color: var(--color-dark);
        }

        *:first-child {
          margin-top: 0;
        }
      }


      .input {
        position: relative;
        display: flex;
        flex-direction: column;
      }

        button:hover{
            background-color:black;
            color: white;
          }
      }




