// See: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');body,
html {
  margin: 0;
}

nav {
  position:fixed;
  top: 0;
  right: 0px;
  width: 120%;
  height: 80px;
  color: #FFFFFF;
  background-color: #4686C8;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 1;

  .nav-item {
    position: fixed;
    right: 50px;
    top: 30px;
    color: white;
    font-size: 20px;
  }

  .navbar-brand {
    position: fixed;
    left: 0;
    color: white;
  }

  #reg {
    position: fixed;
    right: 90px;
  }

  #sign {
    position: fixed;
    right: 2px;
  }
}

span {

  #ind {
    display:flex;
    flex-direction: row;
  }
}



