// See: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');body,

body,

html {
  margin: 0;
}

nav {
  position:fixed;
  top: 0;
  right: 0px;
  width: 120%;
  height: 80px;
  color: #FFFFFF;
  background-color: #4686C8;

  font-family: 'Poppins', 'Secular One';

//   font-family: "Secular One";

  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 1;

  .nav-item {
    position: fixed;
    right: 50px;
    top: 30px;
    color: white;
    font-size: 20px;
  }

  .navbar-brand {
    position: fixed;
    padding-left: 10px;
    left: 0;
    color: white;
  }

  #reg {
    position: fixed;
    right: 90px;
  }

  #sign {
    position: fixed;
    right: 2px;
    padding-right: 5px;
  }

}

span {

  .motto {
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: white;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #4686C8;
   display: flex;
   justify-content: center;
   text-shadow: 3px 3px #bd9682d7
  }

  .gr {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    width: 700px;
    height: 500px
  }
  .ind {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sgn {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px #bd9682d7
  }

  .ben {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
  }

  .pic1 {
    border: 2px solid #4686C8;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 5px #bd9682d7;
    width: 125px;
    height: 125px;
  }

  .cat {
    position: relative;
    right: 100px;
  }

  .chk {
    position: relative;
    right: 40px;
  }

  .time {
    position: relative;
    left: 90px;
  }
}
